body {
    background-color: #050509;
    color: #ffffff;
    font-family: 'Minecraft Rus';
    padding: 70px 0 0;
    display: flex;
    flex-direction: column;
    gap: 105px;
    position: relative;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

html,
body {
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 24px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.discord {
    text-decoration: none;
    color: #ffffff;
    padding: 20px 24px;
    background-color: #6663F2;
    border-radius: 15px;
    font-size: 24px;
    transition: all .3s;
}

.discord:hover {
    background-color: #7d83f1;
}

.main {
    padding: auto 0;
}

.offer {
    position: relative;
}

.offer__inner {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 700px;
    align-items: center;
}

.offer__inner-subtitle {
    font-size: 32px;
    max-width: 688px;
    text-align: center;
}

.offer__inner-servers {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.offer__inner-server {
    border: 5px solid #181820;
    padding: 30px 40px;
    border-radius: 30px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    transition: all .3s;
}

.offer__inner-server--active {
    background-color: #93CE13;
}

.offer__inner-server:hover {
    background-color: #93CE13;
}

.offer__img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    max-width: 36%;
    width: auto;
}

.offer__img-inner {
    position: relative;
}

.offer__img-bg {
    max-width: 100%;
}

.offer__img-main {
    position: absolute;
    left: 0;
    margin: auto 0;
    max-width: 85%;
}

.modal {
    padding: 42px 24px;
    background-color: #24242C;
    border-radius: 30px;
    position: absolute;
    max-width: 700px;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: max-content;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}

.modal--active {
    opacity: 1;
    visibility: visible;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    line-height: 36px;
}

.modal__header-close {
    cursor: pointer;
}

.modal__desc {
    font-size: 36px;
    line-height: 36px;
}

.modal__desc {
    margin-top: 77px;
}

.modal__desc:last-child {
    margin-top: 32px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.modal__form-input {
    background-color: #181820;
    border-radius: 30px;
    color: #FFFFFF;
    margin-top: 77px;
    width: 100%;
    height: 100px;
    align-items: center;
    text-align: center;
    border: none;
    font-size: 48px;
    font-family: 'Minecraft Rus';
    cursor: pointer;
}

.modal__form-input:focus {
    outline: none;
}

.modal__form-submit {
    background-color: #181820;
    border-radius: 30px;
    font-size: 36px;
    line-height: 36px;
    padding: 32px 34px;
    cursor: pointer;
    border: none;
    margin-top: 42px;
    color: #ffffff;
    font-family: 'Minecraft Rus';
    width: max-content;
}

@media screen and (max-width: 1200px) {
    .offer .container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }

    .offer__inner {
        max-width: none;
        width: 100%;
    }

    .offer__inner-title {
        width: 100%;
    }

    .offer__inner-subtitle {
        max-width: none;
    }

    .offer__inner-servers {
        gap: 16px;
    }

    .offer__inner-server {
        width: 100%;
    }

    .offer__img {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        max-width: none;
        margin-right: -45%;
    }

    .offer__img-main {
        max-width: 60%;
        bottom: -5%;
    }

    body {
        padding: 70px 0 45px 0;
    }
}

@media screen and (max-width: 800px) {
    .offer__inner-server {
        font-size: 36px;
        line-height: 36px;
        padding: 24px;
    }

    .offer__inner-servers {
        overflow-x: scroll;
    }

    body {
        padding: 45px 0;
    }
}