body {
    background-color: #050509;
    color: #ffffff;
    font-family: 'Minecraft Rus';
    position: relative;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

html,
body {
    height: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 24px;
}

.header {
    margin-top: 70px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    cursor: pointer;
}

.discord {
    padding: 7px;
    background-color: #6663F2;
    border-radius: 15px;
    transition: all .3s;
}

.discord:hover {
    background-color: #7d83f1;
}

/* .main {
    padding: auto 0;
} */

.wrap {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 105px;
}

.offer {
    position: relative;
}

.offer__inner {
    display: flex;
    flex-direction: column;
    gap: 48px;
    max-width: 700px;
    align-items: center;
}

.offer__inner-subtitle {
    font-size: 32px;
    max-width: 688px;
    text-align: center;
}

.offer__inner-servers {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.offer__inner-server {
    border: 5px solid #181820;
    padding: 30px 40px;
    border-radius: 30px;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    transition: all .3s;
}

.offer__inner-server--active {
    background-color: #93CE13;
}

.offer__inner-server:hover {
    background-color: #93CE13;
}

.offer__img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    max-width: 36%;
    width: auto;
}

.offer__img-inner {
    position: relative;
}

.offer__img-bg {
    max-width: 100%;
}

.offer__img-main {
    position: absolute;
    left: 0;
    margin: auto 0;
    max-width: 85%;
}

.modal {
    padding: 42px 24px;
    background-color: #24242C;
    border-radius: 30px;
    position: absolute;
    max-width: 566px;
    width: 100%;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: max-content;
    transition: all .3s;
    opacity: 0;
    visibility: hidden;
}

.modal--active {
    opacity: 1;
    visibility: visible;
}

.modal__header {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    line-height: 30px;
}

.modal__header-close {
    cursor: pointer;
}

.modal__desc {
    font-size: 25px;
    line-height: 25px;
    margin-top: 24px;
}

.modal__desc:last-child {
    margin-top: 32px;
}

.modal__form {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.modal__form-input {
    background-color: #181820;
    border-radius: 30px;
    color: #FFFFFF;
    margin-top: 36px;
    width: 100%;
    height: 92px;
    align-items: center;
    text-align: center;
    border: none;
    font-size: 48px;
    font-family: 'Minecraft Rus';
    cursor: pointer;
}

.modal__form-input:focus {
    outline: none;
}

.modal__form-submit {
    background-color: #181820;
    border-radius: 30px;
    font-size: 30px;
    line-height: 30px;
    padding: 32px 34px;
    cursor: pointer;
    border: none;
    margin-top: 42px;
    color: #ffffff;
    font-family: 'Minecraft Rus';
    width: max-content;
}

.footer {
    padding-bottom: 60px;
}

.footer__divider {
    width: 100%;
    height: 5px;
    background-color: #24242C;
    margin: 120px 0 60px 0;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.footer__content-column {
    width: max-content;
    max-width: 463px;
}

.footer__content-title {
    font-size: 30px;
    line-height: 30px;
}

.footer__content-items {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__content-items a {
    transition: color .3s;
}

.footer__content-items a:hover {
    color: #93CE13;
}

.footer__content-item {
    color: #9C9A9A;
    font-size: 22px;
    line-height: 28px;
    text-decoration: none;
}

@media screen and (max-width: 1200px) {
    .offer .container {
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;
    }

    .offer__inner {
        max-width: none;
        width: 100%;
    }

    .offer__inner-title {
        width: 100%;
    }

    .offer__inner-subtitle {
        max-width: none;
    }

    .offer__inner-servers {
        gap: 16px;
    }

    .offer__inner-server {
        width: 100%;
    }

    .offer__img {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        max-width: none;
        margin-right: -45%;
    }

    .offer__img-main {
        max-width: 60%;
        bottom: -5%;
    }

    body {
        padding-bottom: 45px;
    }

    .footer__content-title {
        font-size: 28px;
        line-height: 28px;
    }

    .footer__content-item {
        font-size: 16px;
        line-height: 24px;
    }

    .footer__content-column {
        max-width: 350px;
    }
}

@media screen and (max-width: 800px) {
    .footer__content {
        flex-direction: column;
        gap: 36px;
        align-items: center;
    }

    .footer__content-items {
        margin-top: 24px;
    }

    .footer__content-item {
        max-width: none;
        text-align: center;
    }

    .footer__content-title {
        text-align: center;
    }

    .modal {
        max-width: 400px;
    }

    .header {
        margin-top: 45px;
    }

    .offer__inner-server {
        font-size: 36px;
        line-height: 36px;
        padding: 24px;
    }

    .modal__desc {
        margin-top: 42px;
        font-size: 24px;
        line-height: 24px;
    }

    .modal__desc:last-of-type {
        margin-top: 24px;
    }

    .modal__form-input {
        margin-top: 45px;
        font-size: 24px;
        height: 50px;
    }

    .modal__form-submit {
        margin-top: 24px;
        width: 100%;
    }

    .offer__inner-servers {
        overflow-x: scroll;
    }

    .wrap {
        padding: 0 18px;
    }
}

@media screen and (max-width: 450px) {
    .modal {
        max-width: 300px;
    }

    .modal__header {
        font-size: 18px;
        line-height: 18px;
    }

    .modal__desc {
        font-size: 16px;
        line-height: 16px;
        margin-top: 24px;
    }

    .modal__desc:last-of-type {
        margin-top: 16px;
    }

    .modal__form-input {
        margin-top: 24px;
    }

    .modal__form-submit {
        margin-top: 16px;
        font-size: 24px;
    }
}